extends templates/_default

block content
  div.container
    .card
      .row
        .left-column
          img(class="left-column__img" src="../assets/images/drawers.jpg")
        .right-column
          h3 Shift the overall look and feel by adding these wonderful touches to furniture in your home
          p Ever been in a room and felt like something was missing?  Perhaps it felt slightly bare and uninviting.  I've got some simple tips to help you make any room feel complete.


