link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300")
script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
script(async src="/assets/js/all.js")
